# Environment & Config
.env
.env.*
js/prod-config.js
.netlify

# Keys and Secrets
*.pem
*.key
**/secrets.*

# Cache & Logs
cache/
.cache/
*.log
logs/
npm-debug.log*

# IDE & System
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
